body {
    background-color: #dbdbdb;
}

h1 {
    text-align: center;
}

.main-content {
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem auto;
}

/* .carousel{
    height: 500px!important;
    overflow: hidden!important;
} */

.carousel-inner{
    text-shadow: 2px 2px black!important;
}
.carousel-inner p{
    font-size: 1.4em;
}

.minion {
    max-height: 100px;
    width: auto;
    margin: 0 2rem;
    z-index: 100;
    position: fixed;
    bottom: 0;
}

.minion-right {
    right: 2rem;
}